*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
src/main/resources/hm-apps/node_modules
src/main/resources/hm-apps/dist
src/main/resources/www/static
